.pic{
    width:100%;
    display:block;
    border-radius:6%;   
    
}
.video-pre{
    position: relative;
}
.time{
   background-color: rgba(0, 0, 0, 0.792);
   color: white;
   font-family:Roboto,Arial,sans-serif;
   font-size:12px;
   font-weight:500;
   border-radius:3px;
   position:absolute;
   bottom:5px;
   right:30px;
   padding:2px;
   letter-spacing: 0.3px;
}

.title{
   font-family:roboto,"Arial","sans-serif";
   line-height:19px;
   margin-bottom:1px;
   font-size:14px;

} 
.owner,.stats{
   color:gray;
   font-size:12px;
}
.owner{
    margin-top:10px;
    margin-bottom:1px;
}
.stats{
    margin-top:2px;
}
.vid-preview{
    display:inline-block;
    vertical-align:top;
    width:100%;
}
.profile-pic{
    margin:1rem 1rem 0rem 0rem;
}
.pro-pic{
  width:35px;
}
.vid-info-grid{
  display:grid;
  grid-template-columns: 60px 1fr;
}  
.container{
  display:grid;
  grid-template-columns:1fr 1fr 1fr ;
  row-gap:25px;
  column-gap: 14px ;
}
@media (max-width:520px) {
  .container{
    grid-template-columns:1fr;
  }
}
@media (max-width:890px) {
  .container{
    grid-template-columns:1fr 1fr;
  }
}
@media (min-width:1144px) {
  .container{
    grid-template-columns:1fr 1fr 1fr 1fr;
  }
}

